/* General Styling */
.offering-div-display {
    background-color: #0A0611;
    margin-top: 0%;
    overflow: hidden; /* Prevent any overflow from the contact container */
    padding: 20px;
    margin: auto;
    text-align: center;
    overflow: hidden;
}

.offering-div {
    background-color: #0A0611;
    margin-top: 0%;
    padding: 20px;
}

.offering-h1 {
    margin-top: 120px;
    font-family: 'Spectral SC';
    color: white;
}

.offering-text {
    font-family: 'Poppins';
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: 50px;
    max-width: 900px;
    align-self: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

/* 2x2 Grid Layout */
.offering-cards-container {
    align-self: center;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Ensures the cards align properly */
    gap: 20px 50px; /* Vertical gap is 20px, Horizontal gap is 50px */
    margin-top: 20px;
}

/* Wrapper for Top and Bottom Row */
.offering-cards-wrapper {
    display: flex;
    flex-direction: column; /* Stacks the two containers vertically */
    align-items: center; /* Centers the content horizontally */
    gap: 20px; /* Space between the top and bottom rows */
}

/* Styling for Each Card */
.offering-card {
    background-color: #0A0611;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(148, 129, 154, 0.3);
    text-align: center;
    width: 350px; /* Fixed width for uniform size */
    height: 400px; /* Fixed height to ensure all cards are the same size */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensures equal space between content */
    transition: transform 0.3s ease-in-out;
}


/* Icon and Title Styling */
.offering-icon {
    font-size: 3rem; /* Adjusted to fit the card */
    margin-top: 150x;
    margin-bottom: 15px; /* Space between icon and title */
}

.offering-title {
    font-family: 'Spectral SC';
    color: white;
    font-size: 1.5em;
    margin-bottom: 10px; /* Space between title and description */
    margin-top: auto;
}

/* Description Styling */
.offering-description {
    font-family: 'Poppins';
    color: white;
    font-size: 1em;
    margin-bottom: auto; /* Pushes the description towards the bottom */
}

/* Font Import */
@font-face {
    font-family: 'Spectral SC';
    src: url('../assets/fonts/Spectral/SpectralSC-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Brutalist';
    src: url('../assets/fonts/Brutalist/BrutalistMono.ttf') format('truetype');
}
